body {
    font-family: 'Poppins', sans-serif;
    margin: 0 autosss;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 40px;
}

.orange {
    color: orange;
}

.flex {
    display: flex;
    margin-bottom: 50px;
}

.hero-half {
    width: 50%;
    padding: 0 50px;
}

.hero-half img {
    width: 100%;
}

.hero-half a {
    text-decoration: none;
    background: linear-gradient(#FF6E50, #FF9974);
    color: #FFFFFF;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.dream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left 300px;
    padding: 30px;
}

.experience-item {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 30px;
    box-shadow: 20px 20px 50px grey;
    border-radius: 10px;
}

.experience-item p {
    color: #696969;
}

.full-stack {
    border-left: 7px solid #FF6347;
}

.baby {
    border-left: 7px solid blue;
}

footer {
    padding: 20px 0;
}

footer p {
    color: #696969;
    text-align: center;
}